/* Root to repeat colors */
:root {
    --white: #ffffff;
    --blue: #2565AE;
    --dark-blue: #0F5298;
    --black: #000000; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default body stlying */
body {
    color: var(--black);
    background-color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Aligns and spaces top navigation bar */
.header {
    background-color: var(--white);
    border: 5px solid var(--dark-blue);
    display: flex;
    /* used for new-fangled layout methods like Flexbox */
    justify-content: space-between;
    /* items are evenly distributed in the line; first item is on the start line, last item on the end line */
    flex-wrap: wrap;
    /* defines whether the flex items are forced in a single line or can be flowed into multiple lines */
    padding: 20px;
}

/* Main Heading */
.header h1 {
    display: inline-block;
    /* Similar to inline but you can set width and height */
    font-size: 40px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    border: 5px solid var(--dark-blue);
    padding: 10px;
}

.header section {
    padding-top: 25px;
    margin-right: 10px;
    float: right;
    font-size: 30px;
}

/* Aligns navigation bar */
.header section ul li {
    display: inline-block;
}

.header a {
    color: var(--blue);
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}

/* Creats hover on navigation bar */
.header ul li a:hover {
    background: var(--dark-blue);
    color: var(--white);
}

/* Main background image */
.figure {
    background-image: url("../assets/images/pixel-seamless.jpeg");
    border: 5px solid var(--dark-blue);
    border-top: 0px;
    height: 500px;
    background-size: center;
    display: flex;
    align-items: center;
}

/* Centers Profile Picture */
.figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 25%;
}

/* Styles all <h2> headings */
.titles {
    font-size: 40px;
    color: var(--blue);
    margin-left: 25%;
    width: 50%;
    text-align: center;
    padding: 10px;
}

/* Center and styles quote */
.quote {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--black);
}

/* COding Skills Section */
.items ul li {
    color: var(--black);
    text-align: center;
    margin: 5px;
    font-size: 30px;
}


#title-about {
    color: var(--white);
}

/* About Me Section */
.about-me {
    border: 5px solid var(--dark-blue);
    background-color: var(--blue);
}


.about-me p {
    color: var(--white);
    font-size: 25px;
    padding: 20px;
}

/* Start of Work Section */
.work {
    border: 5px solid var(--white);
    border-top: 0px;
    display: block;
}

/* Styles only first card (Project 1) */
.card {
    position: relative;
}

.card-1 {
    text-align: center;
}

.card-1 h3 {
    text-align: center;
}

.card-1 img {
    height: 500px;
}

/* Styles card 2/3 (Project 2 and 3 */
.card-2-3 {
    display: flex;
    flex-direction: row;
    /* establishes the main-axis, thus defining the direction flex items are placed in the flex container */
    justify-content: center;
    /* items are centered along the line */
    text-align: center;
}

.card-2 {
    width: 70%;
    height: 80%;
}

.card-3 {
    width: 70%;
    height: 80%;
}

/* Styles cards 4/5 (Projects 4 and 5) */
.card-4-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card-4 {
    width: 70%;
    height: 70%;
}

.card-5 {
    width: 70%;
    height: 70%;
}

/* Contact Me Section (footer) */
.contact-me {
    border: 5px solid var(--dark-blue);
    background-color: var(--blue);
}

#title-contact {
    color: var(--white);
}

/* Aligns bottom navigation bar */
.list {
    padding-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    justify-content: space-evenly;
    /* items are distributed so that the spacing between any two adjacent alignment subjects */
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}

ul li a {
    margin: 30px;
    font-weight: bold;
    color: var(--white);
} 

ul li a:hover {
    background: var(--white);
    color: var(--blue);
}

ul li p {
    color: var(--white);
}

/* MEDIA QUERY for Tablets/Smaller Screens */
@media screen and (max-width: 800px) {

    .title {
        font-size: 40px;
    }
}

/* MEDIA QUERY for Smart Phones/Smaller Screens */
@media screen and (max-width: 600px) {
    
    header {
        justify-content: center;
    }

    .figure img {
        width: 50%;
    }

    .titles {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: large;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
    }


    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        font-size: 15px;
    }

    .card-1 img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
    }


    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin: 5px;
        text-align: center;
    }
    
}
