:root {
    --white: #ffffff;
    --blue: #2565AE;
    --dark-blue: #0F5298;
    --black: #000000; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    background-color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: var(--white);
    border: 5px solid var(--dark-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    border: 5px solid var(--dark-blue);
    padding: 10px;
}

.header section {
    padding-top: 25px;
    margin-right: 10px;
    float: right;
    font-size: 30px;
}

.header section ul li {
    display: inline-block;
}

.header a {
    color: var(--blue);
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}

.header ul li a:hover {
    background: var(--dark-blue);
    color: var(--white);
}

.figure {
    background-image: url("../assets/images/pixel-seamless.jpeg");
    border: 5px solid var(--dark-blue);
    border-top: 0px;
    height: 500px;
    background-size: center;
    display: flex;
    align-items: center;
}

.figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 25%;
}

.titles {
    font-size: 40px;
    color: var(--blue);
    margin-left: 25%;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--black);
}

.items ul li {
    color: var(--black);
    text-align: center;
    margin: 5px;
    font-size: 30px;
}


#title-about {
    color: var(--white);
}

#title-about {
    color: var(--white);
}

.about-me {
    border: 5px solid var(--dark-blue);
    background-color: var(--blue);
}


.about-me p {
    color: var(--white);
    font-size: 25px;
    padding: 20px;
}

.work {
    border: 5px solid var(--white);
    border-top: 0px;
    display: block;
}


.card {
    position: relative;
}

.card-1 {
    text-align: center;
}

.card-1 h3 {
    text-align: center;
}

.card-1 img {
    height: 500px;
}

.card-2-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card-2 {
    width: 70%;
    height: 80%;
}

.card-3 {
    width: 70%;
    height: 80%;
}

.card-4-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card-4 {
    width: 70%;
    height: 70%;
}

.card-5 {
    width: 70%;
    height: 70%;
}


